h1 {
  text-transform: uppercase;
  font-style: normal;
  color: white;
  font-size: 33px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}

// player:X {
//   color: blue;

//   &:O {
//     color: red;
//   }
// }